<!-- begin hero -->
<section class="hero">
  <div class="hero__slider slider__wrap slider--hero__wrap">
    <div class="slider slder--hero js-slider" data-slider="hero">
      {% for i in range(0, 3) %}
      <div class="slide hero__slide" >
        <div class="hero__bg js-lazy" data-background-image="./img/hero/home.jpg"></div>

        <div class="container">
          <div class="hero__content">
            <h2 class="hero__title title title--h1">Добро пожаловать на сайт</h2>

            <div class="hero__subttl">Почетного консульства Австрийской Республики в Новосибирске!</div>

            <div class="hero__btn">
              {{ mixins.btn(
                title = 'задать вопрос',
                mod = 'js-popup-open',
                href = false,
                attributes = { 'data-popup-target': 'call' }
              ) }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- end hero -->