<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__top">
      <h2 class="title title--h2">Об Австриии</h2>
    </div>

    <img class="section__img js-lazy" alt="" src="" data-src="./img/01.jpg"/>

    <div class="grid grid--no-bottom-gap-all">
      <div class="col col--xs-6">
        <article class="article">
          <p><strong>Австрийская Республика</strong> – государство, расположенное в Центральной Европе, в бассейне реки Дунай на пересечении важнейших транспортных и торговых путей.
На юге граничит с Италией и Словенией,<br>
на юге и западе - с Швейцарией,<br>
на западе - с Германией и Лихтенштейном,<br>
на севере - с Чехией,<br>
на востоке - с Венгрией,<br>
на северо-востоке - со Словакией.</p>

<p>Общая площадь страны составляет 83 849 км2, население – 8,1млн. человек, при этом около 98% населения – немецкоязычные австрийцы. Католическую религию исповедуют 85% населения, протестантов в стране 6%, к другим религиям относят себя 9% населения. </p>
        </article>
      </div>

      <div class="col col--xs-6">
        <article class="article">
          <p><strong>Форма правления – конституционная федеративная республика, в составе которой 9 федеральных земель: </strong></p>

          <ul>
            <li>Вена (столица г. Вена) </li>
            <li>Форарльберг (столица г. Брегенц) </li>
            <li>Тироль (столица г. Инсбрук) </li>
            <li>Штирия (столица г. Грац) </li>
            <li>Зальбург (столица г. Зальцбург) </li>
            <li>Верхняя Австрия (столица г. Линц) </li>
            <li>Нижняя Австрия (столица г. Санкт-Польтен) </li>
            <li>Каринтия (столица г. Клагенфурт) </li>
            <li>Бургенланд (столица г. Азенштат) </li>
          </ul>
        </article>
      </div>
    </div>

    <article class="article">
        <p>Австрия - высокоразвитая индустриальная страна с разветвленной транспортной системой, развитыми сферами торговли, услуг и туризма, входит в число наиболее стабильных и благополучных в социально-экономическом отношении стран Европы. Экономика Австрии отличается сравнительно низким уровнем инфляции и безработицы. Ведущими отраслями промышленности являются металлургия, машиностроение, пищевая и легкая, химическая, деревообрабатывающая, туризм. </p>

      <p>Около ¾ площади Австрии занимают покрытые лесами Альпийские горы. <br>
Климат умеренный, континентальный, на западе – влажный.</p>
    </article>
  </div>
</section>
<!-- end section -->