<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__top section__top--flex">
      <h2 class="title title--h2">Видео</h2>

      <a href="#" class="section-link">Галерея</a>
    </div>

    <!-- begin gallery -->
    <div class="gallery gallery--lg js-lightgallery">
      {% for i in range(0, 16) %}
      <a
        href="https://www.youtube.com/watch?v=MUOv8ksL9zk"
        class="gallery__item gallery-item gallery-item--lg"
      >
        <span class="gallery-item__img js-lazy" data-background-image="./img/06.jpg">
          {{ mixins.icon('play', 'gallery-item__icon') }}
        </span>

        <span class="gallery-item__caption title title--h4">Запись на подачу документов о выдаче визы</span>
      </a>
      {% endfor %}
    </div>
    <!-- end gallery -->

    {% include "partials/_pagination.html" %}
  </div>
</section>
<!-- end section -->
