<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__top">
      <h2 class="title title--h2">Информация</h2>
    </div>

    <article class="article">
      <p>Почетное консульство Австрийской Республики в Новосибирске создано с целью содействия торговым, экономическим, культурным и научным связям между Австрийской Республикой и Уральским федеральным округом и предоставляет следующие консульские услуги:</p>

      <ul class="list">
        <li>защита в Екатеринбурге и Уральском федеральном округе интересов граждан Австрийской Республики (физических и юридических лиц) в пределах, допускаемых международным правом;</li>
        <li>оказание помощи и содействия гражданам (физическим и юридическим лицам) Австрии, в том числе: исполнение обязанностей нотариуса, регистратора актов гражданского состояния и других подобных обязанностей, а также выполнение некоторых функций административного характера при условии, что в этом случае ничто не противоречит законам и правилам Российской Федерации;</li>
        <li>выдача проездных документов гражданам Австрийской Республики или соответствующих документов в случае их утери;</li>
        <li>охрана интересов граждан (физических и юридических лиц) Австрийской Республики в случае преемства "mortis causa" на территории Уральского федерального округа в соответствии с законами и правилами Российской Федерации;</li>
        <li>охрана интересов несовершеннолетних и иных лиц, не обладающих полной дееспособностью, которые являются гражданами Австрийской Республики, в особенности, когда требуется установление над такими лицами какой-либо опеки или попечительства;</li>
        <li>представительство граждан Австрийской Республики в судебных и иных учреждениях с целью получения в соответствии с законами и правилами Российской Федерации распоряжений о предварительных мерах, ограждающих права и интересы этих граждан, если, в связи с отсутствием или по другим причинам, такие граждане не могут своевременно осуществить защиту своих прав и интересов;</li>
        <li>выполнение других функций, возложенных на консульское учреждение Австрийской Республикой, которые не запрещаются законами и правилами Российской Федерации или предусмотрены международными договорами, действующими между Австрийской Республикой и Российской Федерацией.</li>
      </ul>

      <p>Почетное консульство открыто без права выдачи виз. Почетное консульство оказывает консультационные услуги по оформлению документов для получения виз в Посольстве Австрии в Москве.</p>
    </article>
  </div>
</section>
<!-- end section -->