{% from 'mixins/_icon.html' import icon %}
{% set icon = icon %}

{% macro card(mod, img, title, text, date, link) %}
<!-- begin card -->
<a href="#" class="card">
  {% if img %}
  <span class="card__img js-lazy" data-background-image="./img/{{ img }}"></span>
  {% endif %}
  
  <span class="card__content">
    {% if date %}
    <span class="card__date">март 2020</span>
    {% endif %}

    {% if title %}
    <span class="card__title title title--h4">{{ title | safe }}</span>
    {% endif %}

    {% if text %}
    <span class="card__text">{{ text | safe }}</span>
    {% endif %}

    <span class="card__link link link--no-hover">{{ link or 'читать' }} {{ icon('right-arrow', 'link__icon') }}</span>
  </span>  
</a>
<!-- end card -->
{% endmacro %}