.btn
  display: inline-block
  text-align: center
  color: $white

  text-transform: uppercase
  font-size: em(18)

  border: 2px solid currentColor
  border-radius: 5px

  min-width: 210px
  padding: 1em 1em .75em

  +tr(color .3s)

  +hover
    color: $accent
